<center>

# $\textbf{Unemployment2}$

<center>

### $\textbf{Code}$

In [208]:
import pandas as pd

In [209]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Files/Unemployment2.csv')

ParserError: Error tokenizing data. C error: Expected 69 fields in line 25, saw 70

In [ ]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Aruba,""ABW"",""Unemployment, total (% of total l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Africa Eastern and Southern,""AFE"",""Unemploymen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Afghanistan,""AFG"",""Unemployment, total (% of t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Africa Western and Central,""AFW"",""Unemployment...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Angola,""AGO"",""Unemployment, total (% of total ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
columns_to_drop = ['Country Code', 'Indicator Code']
df.drop(columns=columns_to_drop, inplace=True)

In [203]:
df.head()

,Country Name,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Aruba,""ABW"",""Unemployment, total (% of total l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Africa Eastern and Southern,""AFE"",""Unemploymen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Afghanistan,""AFG"",""Unemployment, total (% of t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Africa Western and Central,""AFW"",""Unemployment...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Angola,""AGO"",""Unemployment, total (% of total ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
# Save the merged dataframe to a new CSV file
df.to_csv('FinalFiles/Unemployment2.csv', index=False)