<center>

# $\textbf{Population}$

<center>

### $\textbf{Code}$

In [427]:
from pyspark.sql import SparkSession

In [428]:
spark = SparkSession.builder.appName('Population').master("local").enableHiveSupport().getOrCreate()
spark

In [429]:
# Creating dataframe from the csv file and infering the schema
df = spark.read.load("Files/Population.csv", format="csv", sep=",", inferschema="true", header="true")
df.show()

+--------------------+------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|        Country Name|Country Code|      Series Name|Series Code|2000 [YR2000]|2001 [YR2001]|2002 [YR2002]|2003 [YR2003]|2004 [YR2004]|2005 [YR2005]|2006 [YR2006]|2007 [YR2007]|2008 [YR2008]|2009 [YR2009]|2010 [YR2010]|2011 [YR2011]|2012 [YR2012]|2013 [YR2013]|2014 [YR2014]|2015 [YR2015]|2016 [YR2016]|2017 [YR2017]|2018 [YR2018]|2019 [YR2019]|2020 [YR2020]|2021 [YR2021]|2022 [YR2022]|2023 [YR2023]|2024 [YR2024]|
+--------------------+------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
|         Afghanistan|         AFG|Population, total|SP.POP.TOTL|     19542982|     19688632|     21000256|     22645130|     23553551|     24411191|     25442944|     25903301|     26427199|     27385307|     28189672|     29249157|     30466479|     31541209|     32716210|     33753499|     34636207|     35643418|     36686784|     37769499|     38972230|     40099462|     41128771|     42239854|     43372950|
|Africa Eastern an...|         AFE|Population, total|SP.POP.TOTL|    401600588|    412001885|    422741118|    433807484|    445281555|    457153837|    469508516|    482406426|    495748900|    509410477|    523459657|    537792950|    552530654|    567892149|    583651101|    600008424|    616377605|    632746570|    649757148|    667242986|    685112979|    702977106|    720859132|    739112053|    757862662|
|Africa Western an...|         AFW|Population, total|SP.POP.TOTL|    269611898|    277160097|    284952322|    292977949|    301265247|    309824829|    318601484|    327612838|    336893835|    346475221|    356337762|    366489204|    376797999|    387204553|    397855507|    408690375|    419778384|    431138704|    442646825|    454306063|    466189102|    478185907|    490330870|    502789511|    515512883|
|             Albania|         ALB|Population, total|SP.POP.TOTL|      3089027|      3060173|      3051010|      3039616|      3026939|      3011487|      2992547|      2970017|      2947314|      2927519|      2913021|      2905195|      2900401|      2895092|      2889104|      2880703|      2876101|      2873457|      2866376|      2854191|      2837849|      2811666|      2777689|      2768265|      2762825|
|            Zimbabwe|         ZWE|Population, total|SP.POP.TOTL|     11834676|     11910978|     11984644|     12075828|     12160881|     12224753|     12330490|     12450568|     12550347|     12679810|     12839771|     13025785|     13265331|     13555422|     13855753|     14154937|     14452704|     14751101|     15052184|     15354608|     15669666|     15993524|     16320537|     16665409|     17020321|
|         Yemen, Rep.|         YEM|Population, total|SP.POP.TOTL|     18628700|     19143457|     19660653|     20188799|     20733406|     21320671|     21966298|     22641538|     23329004|     24029589|     24743946|     25475610|     26223391|     26984002|     27753304|     28516545|     29274002|     30034389|     30790513|     31546691|     32284046|     32981641|     33696614|     34449825|     35219853|
|  West Bank and Gaza|         PSE|Population, total|SP.POP.TOTL|      2922153|      2997784|      3075373|      3154969|      3236626|      3320396|      3406334|      3494496|      3591977|      3689099|      3786161|      3882986|      3979998|      4076708|      4173398|      4270092|      4367088|      4454805|      4569087|      4685306|      4803269|      4922749|      5043612|      5159253|      5277923|
|            Viet Nam|         VNM|Population, total|SP.POP.TOTL|     79001142|     79817777|     80642308|     81475825|     82311227|     83142095|     83951800|     84762269|     85597241|     86482923|     87411012|     88349117|     89301326|     90267739|     91235504|     92191398|     93126529|     94033048|     94914330|     95776716|     96648685|     97468029|     98186856|     98858950|     99497680|
|             Vanuatu|         VUT|Population, total|SP.POP.TOTL|       192074|       197034|       202125|       207258|       212422|       217632|       222923|       228345|       233952|       239689|       245453|       251294|       257313|       263534|       269927|       276438|       283218|       290239|       297298|       304404|       311685|       319137|       326740|       334506|       342325|
|             Uruguay|         URY|Population, total|SP.POP.TOTL|      3292224|      3300939|      3306441|      3310202|      3313801|      3317665|      3322282|      3328651|      3336126|      3344156|      3352651|      3361637|      3371133|      3381180|      3391662|      3402818|      3413766|      3422200|      3427042|      3428409|      3429086|      3426260|      3422794|      3423108|      3423316|
|       United States|         USA|Population, total|SP.POP.TOTL|    282162411|    284968955|    287625193|    290107933|    292805298|    295516599|    298379912|    301231207|    304093966|    306771529|    309327143|    311583481|    313877662|    316059947|    318386329|    320738994|    323071755|    325122128|    326838199|    328329953|    331511512|    332031554|    333287557|    335020960|    336721632|
|United Arab Emirates|         ARE|Population, total|SP.POP.TOTL|      3275333|      3454198|      3633655|      3813443|      3993339|      4280993|      4898954|      5872624|      6988685|      7992644|      8481771|      8575205|      8664969|      8751847|      8835951|      8916899|      8994263|      9068296|      9140169|      9211657|      9287289|      9365145|      9441129|      9516871|      9591853|
|              Uganda|         UGA|Population, total|SP.POP.TOTL|     24020697|     24763325|     25545090|     26354736|     27146084|     27946588|     28773227|     29629804|     30509862|     31412520|     32341728|     33295738|     34273295|     35273570|     36336539|     37477356|     38748299|     40127085|     41515395|     42949080|     44404611|     45853778|     47249585|     48582334|     49924252|
|Turks and Caicos ...|         TCA|Population, total|SP.POP.TOTL|        18744|        19578|        20598|        21739|        22869|        23995|        25128|        26268|        27422|        28581|        29726|        30816|        32081|        33594|        34985|        36538|        38246|        39844|        41487|        43080|        44276|        45114|        45703|        46062|        46431|
|             Turkiye|         TUR|Population, total|SP.POP.TOTL|     64113547|     65072018|     65988663|     66867327|     67785075|     68704715|     69601333|     70158112|     71051678|     72039206|     73142150|     74223629|     75175827|     76147624|     77181884|     78218479|     79277962|     80312698|     81407204|     82579440|     83384680|     84147318|     84979913|     85424312|     85858536|
| Trinidad and Tobago|         TTO|Population, total|SP.POP.TOTL|      1332203|      1338567|      1345964|      1353548|      1361172|      1369075|      1376919|      1384861|      1392803|      1401191|      1410296|      1420020|      1430377|      1440729|      1450661|      1460177|      1469330|      1478607|      1504709|      1519955|      1518147|      1525663|      1531044|      1534937|      1538200|
|                Togo|         TGO|Population, total|SP.POP.TOTL|      5008035|      5145426|      5281538|      5421001|      5565218|      5711597|      5874240|      6047537|      6222482|      6398624|      6571855|      6748672|      6926635|      7106229|      7288383|      7473229|      7661354|      7852795|      8046679|      8243094|      8442580|      8644829|      8848699|      9053799|      9260864|
|            Thailand|         THA|Population, total|SP.POP.TOTL|     63066603|     63649892|     64222580|     64776956|     65311166|     65821360|     66319525|     66826754|     67328239|     67813654|     68270489|     68712846|     69157023|     69578602|     69960943|     70294397|     70607037|     70898202|     71127802|     71307763|     71475664|     71601103|     71697030|     71801279|     71885799|
|          Tajikistan|         TJK|Population, total|SP.POP.TOTL|      6272998|      6408810|      6541755|      6672492|      6801204|      6929145|      7057417|      7188391|      7324627|      7468596|      7621779|      7784819|      7956382|      8136610|      8326348|      8524063|      8725318|      8925525|      9128132|      9337003|      9543207|      9750064|      9952787|     10143543|     10331513|
|         Switzerland|         CHE|Population, total|SP.POP.TOTL|      7184250|      7229854|      7284753|      7339001|      7389625|      7437115|      7483934|      7551117|      7647675|      7743831|      7824909|      7912398|      7996861|      8089346|      8188649|      8282396|      8373338|      8451840|      8514329|      8575280|      8638167|      8704546|      8775760|      8827979|      8878451|
+--------------------+------------+-----------------+-----------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+-------------+
only showing top 20 rows

In [430]:
# Drop the columns you don't want
df = df.drop("Series Name", "Series Code", "Country Code")

In [431]:
# Rename the column
df = df.withColumnRenamed("Country Name","country")
df = df.withColumnRenamed("2000 [YR2000]","2000")
df = df.withColumnRenamed("2001 [YR2001]","2001")
df = df.withColumnRenamed("2002 [YR2002]","2002")
df = df.withColumnRenamed("2003 [YR2003]","2003")
df = df.withColumnRenamed("2004 [YR2004]","2004")
df = df.withColumnRenamed("2005 [YR2005]","2005")
df = df.withColumnRenamed("2006 [YR2006]","2006")
df = df.withColumnRenamed("2007 [YR2007]","2007")
df = df.withColumnRenamed("2008 [YR2008]","2008")
df = df.withColumnRenamed("2009 [YR2009]","2009")
df = df.withColumnRenamed("2010 [YR2010]","2010")
df = df.withColumnRenamed("2011 [YR2011]","2011")
df = df.withColumnRenamed("2012 [YR2012]","2012")
df = df.withColumnRenamed("2013 [YR2013]","2013")
df = df.withColumnRenamed("2014 [YR2014]","2014")
df = df.withColumnRenamed("2015 [YR2015]","2015")
df = df.withColumnRenamed("2016 [YR2016]","2016")
df = df.withColumnRenamed("2017 [YR2017]","2017")
df = df.withColumnRenamed("2018 [YR2018]","2018")
df = df.withColumnRenamed("2019 [YR2019]","2019")
df = df.withColumnRenamed("2020 [YR2020]","2020")
df = df.withColumnRenamed("2021 [YR2021]","2021")
df = df.withColumnRenamed("2022 [YR2022]","2022")
df = df.withColumnRenamed("2023 [YR2023]","2023")
df = df.withColumnRenamed("2024 [YR2024]","2024")
df = df.withColumnRenamed("2025 [YR2025]","2025")
df.show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             country|     2000|     2001|     2002|     2003|     2004|     2005|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|     2016|     2017|     2018|     2019|     2020|     2021|     2022|     2023|     2024|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|         Afghanistan| 19542982| 19688632| 21000256| 22645130| 23553551| 24411191| 25442944| 25903301| 26427199| 27385307| 28189672| 29249157| 30466479| 31541209| 32716210| 33753499| 34636207| 35643418| 36686784| 37769499| 38972230| 40099462| 41128771| 42239854| 43372950|
|Africa Eastern an...|401600588|412001885|422741118|433807484|445281555|457153837|469508516|482406426|495748900|509410477|523459657|537792950|552530654|567892149|583651101|600008424|616377605|632746570|649757148|667242986|685112979|702977106|720859132|739112053|757862662|
|Africa Western an...|269611898|277160097|284952322|292977949|301265247|309824829|318601484|327612838|336893835|346475221|356337762|366489204|376797999|387204553|397855507|408690375|419778384|431138704|442646825|454306063|466189102|478185907|490330870|502789511|515512883|
|             Albania|  3089027|  3060173|  3051010|  3039616|  3026939|  3011487|  2992547|  2970017|  2947314|  2927519|  2913021|  2905195|  2900401|  2895092|  2889104|  2880703|  2876101|  2873457|  2866376|  2854191|  2837849|  2811666|  2777689|  2768265|  2762825|
|            Zimbabwe| 11834676| 11910978| 11984644| 12075828| 12160881| 12224753| 12330490| 12450568| 12550347| 12679810| 12839771| 13025785| 13265331| 13555422| 13855753| 14154937| 14452704| 14751101| 15052184| 15354608| 15669666| 15993524| 16320537| 16665409| 17020321|
|         Yemen, Rep.| 18628700| 19143457| 19660653| 20188799| 20733406| 21320671| 21966298| 22641538| 23329004| 24029589| 24743946| 25475610| 26223391| 26984002| 27753304| 28516545| 29274002| 30034389| 30790513| 31546691| 32284046| 32981641| 33696614| 34449825| 35219853|
|  West Bank and Gaza|  2922153|  2997784|  3075373|  3154969|  3236626|  3320396|  3406334|  3494496|  3591977|  3689099|  3786161|  3882986|  3979998|  4076708|  4173398|  4270092|  4367088|  4454805|  4569087|  4685306|  4803269|  4922749|  5043612|  5159253|  5277923|
|            Viet Nam| 79001142| 79817777| 80642308| 81475825| 82311227| 83142095| 83951800| 84762269| 85597241| 86482923| 87411012| 88349117| 89301326| 90267739| 91235504| 92191398| 93126529| 94033048| 94914330| 95776716| 96648685| 97468029| 98186856| 98858950| 99497680|
|             Vanuatu|   192074|   197034|   202125|   207258|   212422|   217632|   222923|   228345|   233952|   239689|   245453|   251294|   257313|   263534|   269927|   276438|   283218|   290239|   297298|   304404|   311685|   319137|   326740|   334506|   342325|
|             Uruguay|  3292224|  3300939|  3306441|  3310202|  3313801|  3317665|  3322282|  3328651|  3336126|  3344156|  3352651|  3361637|  3371133|  3381180|  3391662|  3402818|  3413766|  3422200|  3427042|  3428409|  3429086|  3426260|  3422794|  3423108|  3423316|
|       United States|282162411|284968955|287625193|290107933|292805298|295516599|298379912|301231207|304093966|306771529|309327143|311583481|313877662|316059947|318386329|320738994|323071755|325122128|326838199|328329953|331511512|332031554|333287557|335020960|336721632|
|United Arab Emirates|  3275333|  3454198|  3633655|  3813443|  3993339|  4280993|  4898954|  5872624|  6988685|  7992644|  8481771|  8575205|  8664969|  8751847|  8835951|  8916899|  8994263|  9068296|  9140169|  9211657|  9287289|  9365145|  9441129|  9516871|  9591853|
|              Uganda| 24020697| 24763325| 25545090| 26354736| 27146084| 27946588| 28773227| 29629804| 30509862| 31412520| 32341728| 33295738| 34273295| 35273570| 36336539| 37477356| 38748299| 40127085| 41515395| 42949080| 44404611| 45853778| 47249585| 48582334| 49924252|
|Turks and Caicos ...|    18744|    19578|    20598|    21739|    22869|    23995|    25128|    26268|    27422|    28581|    29726|    30816|    32081|    33594|    34985|    36538|    38246|    39844|    41487|    43080|    44276|    45114|    45703|    46062|    46431|
|             Turkiye| 64113547| 65072018| 65988663| 66867327| 67785075| 68704715| 69601333| 70158112| 71051678| 72039206| 73142150| 74223629| 75175827| 76147624| 77181884| 78218479| 79277962| 80312698| 81407204| 82579440| 83384680| 84147318| 84979913| 85424312| 85858536|
| Trinidad and Tobago|  1332203|  1338567|  1345964|  1353548|  1361172|  1369075|  1376919|  1384861|  1392803|  1401191|  1410296|  1420020|  1430377|  1440729|  1450661|  1460177|  1469330|  1478607|  1504709|  1519955|  1518147|  1525663|  1531044|  1534937|  1538200|
|                Togo|  5008035|  5145426|  5281538|  5421001|  5565218|  5711597|  5874240|  6047537|  6222482|  6398624|  6571855|  6748672|  6926635|  7106229|  7288383|  7473229|  7661354|  7852795|  8046679|  8243094|  8442580|  8644829|  8848699|  9053799|  9260864|
|            Thailand| 63066603| 63649892| 64222580| 64776956| 65311166| 65821360| 66319525| 66826754| 67328239| 67813654| 68270489| 68712846| 69157023| 69578602| 69960943| 70294397| 70607037| 70898202| 71127802| 71307763| 71475664| 71601103| 71697030| 71801279| 71885799|
|          Tajikistan|  6272998|  6408810|  6541755|  6672492|  6801204|  6929145|  7057417|  7188391|  7324627|  7468596|  7621779|  7784819|  7956382|  8136610|  8326348|  8524063|  8725318|  8925525|  9128132|  9337003|  9543207|  9750064|  9952787| 10143543| 10331513|
|         Switzerland|  7184250|  7229854|  7284753|  7339001|  7389625|  7437115|  7483934|  7551117|  7647675|  7743831|  7824909|  7912398|  7996861|  8089346|  8188649|  8282396|  8373338|  8451840|  8514329|  8575280|  8638167|  8704546|  8775760|  8827979|  8878451|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [432]:
#Storing this dataframe in parquet
df.write.mode("overwrite").parquet("FilesParquet/Population.parquet" )
spark.read.parquet("FilesParquet/Population.parquet").show()
spark.stop()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             country|     2000|     2001|     2002|     2003|     2004|     2005|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|     2016|     2017|     2018|     2019|     2020|     2021|     2022|     2023|     2024|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|         Afghanistan| 19542982| 19688632| 21000256| 22645130| 23553551| 24411191| 25442944| 25903301| 26427199| 27385307| 28189672| 29249157| 30466479| 31541209| 32716210| 33753499| 34636207| 35643418| 36686784| 37769499| 38972230| 40099462| 41128771| 42239854| 43372950|
|Africa Eastern an...|401600588|412001885|422741118|433807484|445281555|457153837|469508516|482406426|495748900|509410477|523459657|537792950|552530654|567892149|583651101|600008424|616377605|632746570|649757148|667242986|685112979|702977106|720859132|739112053|757862662|
|Africa Western an...|269611898|277160097|284952322|292977949|301265247|309824829|318601484|327612838|336893835|346475221|356337762|366489204|376797999|387204553|397855507|408690375|419778384|431138704|442646825|454306063|466189102|478185907|490330870|502789511|515512883|
|             Albania|  3089027|  3060173|  3051010|  3039616|  3026939|  3011487|  2992547|  2970017|  2947314|  2927519|  2913021|  2905195|  2900401|  2895092|  2889104|  2880703|  2876101|  2873457|  2866376|  2854191|  2837849|  2811666|  2777689|  2768265|  2762825|
|            Zimbabwe| 11834676| 11910978| 11984644| 12075828| 12160881| 12224753| 12330490| 12450568| 12550347| 12679810| 12839771| 13025785| 13265331| 13555422| 13855753| 14154937| 14452704| 14751101| 15052184| 15354608| 15669666| 15993524| 16320537| 16665409| 17020321|
|         Yemen, Rep.| 18628700| 19143457| 19660653| 20188799| 20733406| 21320671| 21966298| 22641538| 23329004| 24029589| 24743946| 25475610| 26223391| 26984002| 27753304| 28516545| 29274002| 30034389| 30790513| 31546691| 32284046| 32981641| 33696614| 34449825| 35219853|
|  West Bank and Gaza|  2922153|  2997784|  3075373|  3154969|  3236626|  3320396|  3406334|  3494496|  3591977|  3689099|  3786161|  3882986|  3979998|  4076708|  4173398|  4270092|  4367088|  4454805|  4569087|  4685306|  4803269|  4922749|  5043612|  5159253|  5277923|
|            Viet Nam| 79001142| 79817777| 80642308| 81475825| 82311227| 83142095| 83951800| 84762269| 85597241| 86482923| 87411012| 88349117| 89301326| 90267739| 91235504| 92191398| 93126529| 94033048| 94914330| 95776716| 96648685| 97468029| 98186856| 98858950| 99497680|
|             Vanuatu|   192074|   197034|   202125|   207258|   212422|   217632|   222923|   228345|   233952|   239689|   245453|   251294|   257313|   263534|   269927|   276438|   283218|   290239|   297298|   304404|   311685|   319137|   326740|   334506|   342325|
|             Uruguay|  3292224|  3300939|  3306441|  3310202|  3313801|  3317665|  3322282|  3328651|  3336126|  3344156|  3352651|  3361637|  3371133|  3381180|  3391662|  3402818|  3413766|  3422200|  3427042|  3428409|  3429086|  3426260|  3422794|  3423108|  3423316|
|       United States|282162411|284968955|287625193|290107933|292805298|295516599|298379912|301231207|304093966|306771529|309327143|311583481|313877662|316059947|318386329|320738994|323071755|325122128|326838199|328329953|331511512|332031554|333287557|335020960|336721632|
|United Arab Emirates|  3275333|  3454198|  3633655|  3813443|  3993339|  4280993|  4898954|  5872624|  6988685|  7992644|  8481771|  8575205|  8664969|  8751847|  8835951|  8916899|  8994263|  9068296|  9140169|  9211657|  9287289|  9365145|  9441129|  9516871|  9591853|
|              Uganda| 24020697| 24763325| 25545090| 26354736| 27146084| 27946588| 28773227| 29629804| 30509862| 31412520| 32341728| 33295738| 34273295| 35273570| 36336539| 37477356| 38748299| 40127085| 41515395| 42949080| 44404611| 45853778| 47249585| 48582334| 49924252|
|Turks and Caicos ...|    18744|    19578|    20598|    21739|    22869|    23995|    25128|    26268|    27422|    28581|    29726|    30816|    32081|    33594|    34985|    36538|    38246|    39844|    41487|    43080|    44276|    45114|    45703|    46062|    46431|
|             Turkiye| 64113547| 65072018| 65988663| 66867327| 67785075| 68704715| 69601333| 70158112| 71051678| 72039206| 73142150| 74223629| 75175827| 76147624| 77181884| 78218479| 79277962| 80312698| 81407204| 82579440| 83384680| 84147318| 84979913| 85424312| 85858536|
| Trinidad and Tobago|  1332203|  1338567|  1345964|  1353548|  1361172|  1369075|  1376919|  1384861|  1392803|  1401191|  1410296|  1420020|  1430377|  1440729|  1450661|  1460177|  1469330|  1478607|  1504709|  1519955|  1518147|  1525663|  1531044|  1534937|  1538200|
|                Togo|  5008035|  5145426|  5281538|  5421001|  5565218|  5711597|  5874240|  6047537|  6222482|  6398624|  6571855|  6748672|  6926635|  7106229|  7288383|  7473229|  7661354|  7852795|  8046679|  8243094|  8442580|  8644829|  8848699|  9053799|  9260864|
|            Thailand| 63066603| 63649892| 64222580| 64776956| 65311166| 65821360| 66319525| 66826754| 67328239| 67813654| 68270489| 68712846| 69157023| 69578602| 69960943| 70294397| 70607037| 70898202| 71127802| 71307763| 71475664| 71601103| 71697030| 71801279| 71885799|
|          Tajikistan|  6272998|  6408810|  6541755|  6672492|  6801204|  6929145|  7057417|  7188391|  7324627|  7468596|  7621779|  7784819|  7956382|  8136610|  8326348|  8524063|  8725318|  8925525|  9128132|  9337003|  9543207|  9750064|  9952787| 10143543| 10331513|
|         Switzerland|  7184250|  7229854|  7284753|  7339001|  7389625|  7437115|  7483934|  7551117|  7647675|  7743831|  7824909|  7912398|  7996861|  8089346|  8188649|  8282396|  8373338|  8451840|  8514329|  8575280|  8638167|  8704546|  8775760|  8827979|  8878451|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows